# Configurações de E-mail (Flask-Mail)
# Se não for usar e-mail real, pode manter esses padrões, mas os campos não podem sumir.
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=colocar_email@gmail.com
MAIL_PASSWORD=colocar_senha_de_app
MAIL_USE_TLS=True
MAIL_USE_SSL=False

# Configurações do Banco de Dados (Docker/MySQL)
# esses valores o docker usará para criar o banco na primeira vez.
MYSQL_DATABASE=hamburgueria_db
MYSQL_ROOT_PASSWORD=root
MYSQL_USER_APP=admin
MYSQL_PASSWORD_APP=admin123